@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  max-width: 100%;
  overflow-x: hidden;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.navbar__dropdown {
  background: none;
  border: 0;
}

.navbar {
  margin-left: auto;
  margin-right: auto;
  max-width: 83rem;
}

input.form-control-lg {
  border: 1px solid #dde0e3;
  border-radius: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  min-width: none;
  min-height: none;
  margin-top: 12px;
  height: 45px;
  min-height: unset;
  width: 98%;
}

input.form-control-lg:focus {
  box-shadow: none;
}

.form__title {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
}

.icon {
  color: #1f5d2c;
  font-size: 35px;
  padding: 5px;
  transition: all 0.3s;
}

.icon:hover {
  color: #018e4c;
}

.dropdown__icon {
  font-size: 30px;
  vertical-align: middle;
}

.footer {
  background-color: #2b2b2b;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.footer__list {
  list-style-type: none;
  padding: 0;
}

.footer__title {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}

.footer__item {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.footer__image {
  max-width: 125px;
  width: 100%;
}

.col-sm-3 {
  border: 1px solid red;
}

.btn.btn-default,
.btn.btn-default:focus {
  background-color: #1f5d2c;
  border-radius: 4px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  padding: 6px 70.75px;
  margin-top: 40px;
}

.btn.btn-default:active,
.btn.btn-default.dropdown-toggle:active,
.btn.btn-default:hover {
  background-color: #018e4c;
  color: #fff;
}

.navbar-toggler-icon {
  border: 0;
  color: red;
}

button.navbar-toggler,
button.navbar-toggler:active {
  border: 0;
  box-shadow: none;
}

header.container-fluid {
  border-bottom: 1px solid #dde0e3;
  padding: 7px 10px;
  margin-left: auto;
  margin-right: auto;
}

.navbar.center .navbar-inner {
  text-align: center;
}

.navbar.center .navbar-inner .nav {
  display: inline-block;
  float: none;
}

main.container,
div.container {
  padding: 38px;
}

@media (min-width: 768px) {
  main.container,
  div.container {
    width: 68%;
  }
}

@media (min-width: 1200px) {
  header.container-fluid {
    border-bottom: 1px solid #dde0e3;
    padding: 7px 34px;
  }
}

legend.form__contact,
legend.form__display,
legend.form__notification {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

legend.form__display {
  margin-top: 12px;
}

legend.form__contact {
  margin-top: 31px;
}

legend.form__notification {
  margin-top: 48px;
}

.profile__header {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 0;
}

.form__label,
.profile__paragraph,
.form__paragraph {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 0;
}

.form__label {
  margin-top: 3px;
}

.profile__paragraph {
  padding-top: 3px;
}

.checkbox {
  margin-top: 24px;
}

.footer__copyright {
  margin-top: 40px;
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.footer__copyright span {
  font-size: 25px;
  vertical-align: middle;
  margin-right: 10px;
}

div.alert {
  position: absolute;
  z-index: 9999;
  font-size: 10px;
}

.form-group {
  position: relative;
}

.error-message {
  position: absolute;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(31, 93, 44,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.collapse.navbar-collapse {
  flex-grow: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: 2px solid #1f5d2c !important;
  box-shadow: none !important;
}

@media (min-width: 1200px) {
  .icons {
    order: 2;
  }

  .links {
    order: 1;
  }
}

.navbar-nav {
  gap: 40px;
}

.dropdown-menu {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 5px;
  left: -145px !important;
  padding: 10px 5px !important;
}
